<span class = "fancy-button">Click me!</span>

<style>

  /* Write your CSS here to make the span look like a button. */

  .fancy-button {
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 25px 117px 32px rgba(0,0,0,0.28) inset;
  -webkit-box-shadow: 10px 25px 117px 32px rgba(0,0,0,0.28) inset;
  -moz-box-shadow: 10px 25px 117px 32px rgba(0,0,0,0.28) inset;



  }

  .fancy-button:hover {
    background-color: darkblue;



  }

.fancy-button:active {
    background-color: red;



  }

</style>
